<html>
<%- include('partial/head.ejs') %>


<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Skelbimu sarasas</h1>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="list-group" id="myList" role="tablist">
          <% offer.forEach(function(offer) {%>
            <a class="list-group-item list-group-item-action" id="<%= offer.id %>" data-toggle="list" role="tab" href="#<%= offer.id %>"><%= offer.postname %></a> 
          <% }) %>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content">
          <% offer.forEach(function(offer) {%>
            <div class="tab-pane fade" id="#<%= offer.id %>" role="tabpanel">
              <img src="<%= offer.path %>" style="max-width:100%; max-height:33%; object-fit: contain">
              <p class="list-group-item-text"><%= offer.desc %></p>
              <p>Creation date: <%= offer.created_at %> </p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

</div>
</body>
</html>
